@font-face {
  font-family: max;
  src: url(./sf-pro-display_semibold.woff2);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: max;
}

.link{
  background-color: rgb(27, 27, 27);
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
h3{
  font-weight:700;
}

.center{
  padding: 40px;
  height: 80%;
  width: 100%;
  background-image: url(./iphone_17_pro.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

button{
  background-color: royalblue;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
}
.center .but{
   padding: 10px 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
h1{
  color: white;
  font-size: 40px;
}
p{
  font-size: 30px;
  color: white;
  padding: 5px;
}
.but #b1{
  border: 2px solid royalblue;
  color: royalblue;
  background-color: black;
}
.center1{
  padding: 40px;
  height: 80%;
  width: 100%;
  background-image: url(./Thin_iphone.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 20px;
}

.but #b2{
  border: 2px solid royalblue;
  color: royalblue;
  background-color: transparent;
}

.center1 h1{
  color: black;
}

.center1 p{
  color: black;
}